<p id="notice"><%= notice %></p>
<% @entries = Entry.all %>

<%# CHECK FOR NUM ENTRIES %>
<% if not params[:number_of_entries] %>
  <% @numEntries = 10 %>
<% else %>
  <% @numEntries = params[:number_of_entries].to_i %>
  <%if @numEntries > 100 || @numEntries < 1 %> <%# INVALID NUMBER %>
    <% @numEntries = 10 %>
  <% end %>
<% end %>


<%# CHECK FOR OFFSET %>
<% if not params[:offset] %>
  <% @offset = 0 %>
<% else %>
  <% @offset = params[:offset].to_i - 1 %> <%# to allow for array 0 offset %>
  <%if @offset > @entries.count %> <%# INVALID NUMBER %>
    <% @offset = 0 %>
  <% end %>
<% end %>

<h1>Listing Entries</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.order!("score desc").offset(@offset).take(@numEntries).each do |entry| %>
      <tr>
        <td><%= @entries.find_index(entry) + 1 %></td> <%#added one to offset zero starting index for array%>
        <td><%= entry.name %></td>
        <td><%= entry.score %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Unfiltered Top 10', index_path %><br>
<%= link_to 'New Entry', new_entry_path %>
