<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @entry.score %>
</p>

<p>
  <strong>Rank:</strong>
  <% @entries = Entry.all %>
  <% @entries.order!("score desc") %>
  <%= @entries.index.find_index(@entry) + 1 %>
</p>

<%= link_to 'Back', entries_path %>
